body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
    position: relative;
    margin: 0px;
    padding: 0px;
}

/* headerデザイン */
.header{
    position: relative;
    height:70px;
    background-color: #2c3742;
}

.header .login-ifno {
    position: absolute;
    right: 20px;
    top:25px;
}

.header .login-ifno span{
    color:#fff;
    font-weight:bold;
}


.header h1 a{
    font-size:30px;
    color:#fff;
    font-family: 'Open Sans Condensed', sans-serif;
}

/* ログイン画面デザイン */
.login-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
    background: #fff;
    margin: 50px;
    padding: 20px;

}
.login-wrapper  h4 {
    color: #8c8c8c;

}
.login-wrapper .btn {
    margin: 20px 10px 10px;
}

/* footerデザイン */
footer{
    position: relative;
    top:0;
    bottom: 100px;
    background-color:#2c3742;
    box-shadow:inset 0px 0px 3px #111;
    color:#fff;
    font-size:14px;
    line-height:25px;
    padding: 10px;
    height: 50px;
}
footer a{
    color: #fff;
}

/* keyVisualデザイン */
#keyVisual {

	padding-top: 70px;
	height: 350px;
	background: url('images/kv_img.jpg') no-repeat;
	background-size: cover;
}
/* keyTextデザイン */
#keyText {
	font-family: Georgia;
	font-style:italic;
	font-size: 64px;
	color: #2c3742;
	float: left;
}

#bottom{
    /*top:1000px;*/
    margin-top: 200px;
}

.control-label{
    padding-top: 15px;
}

input[type="submit"]{
    margin-right: 20px;
}

.required{
    color:red;
}

.error{
    color: red;
    font-size: 0.8em;
}

.col{
    padding :5px;
}

.conf-c1{
    width: 200px;
    text-align: center;
    color: white;
    padding: 3px;
    background-color: #2c3742;
}

thead tr th{
    text-align: center;
}

.comp-c1, .comp-c2{
    text-align: center;
    padding: 3px;
}