body {
    
}

h2 {
    position: absolute;
    top: 55px;
    left: 140px;
    
}

div.black {
    position: absolute;
    top: 150px;
    left: 80px;
    width: 1000px;
    max-height: 300px;
  height: auto !important; /* IE6 max-height対応 */
  height: 80px;/* IE6 max-height対応 */
  overflow-x: hidden; /* 横スクロール非表示 */
  overflow-y: scroll; /* 縦スクロール */
  border: 2px;
}

.main{
    position: relative;
    left: 60px;
    
}

.hd2{
    height: 50px;
    text-align: center;
}


.b1 {
    width: 150px;
    height: 50px;
    text-align: center;
}

.b2 {
    width: 150px;
    height: 50px;
    text-align: center;
}

.b3 {
    width: 80px;
    height: 50px;
    text-align: center;
}

.b4 {
    width: 80px;
    height: 50px;
    text-align: center;
}

.b5 {
    width: 80px;
    height: 50px;
    text-align: center;
}

.b6 {
    width: 80px;
    height: 50px;
    text-align: center;
}

.b7 {
    width: 300px;
    height: 50px;
}