

.hd{
    position:absolute; 
    top:130px;
    left: 50px;
}

/*1行目*/
.hd1{                 
    font-size: 25px;
    text-align: left;
    text-align:center;
}
/*No*/
.hd2{                   
    width: 100px;
    font-size: 25px;
}
/*タイトル*/
.hd3{                   
    width: 180px;
    font-size: 25px;
}
/*ランク*/
.hd4{                   
    width: 100px;
    font-size: 25px;
}
/*返却予定日*/
.hd5{                   
    width: 100px;
    font-size: 25px;
}
/*databaseからの出力*/
.hd6{                   
    font-size: 25px;
}

.tr1{
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px;
}
.div1{
    font-size: 25px;
}
/*延滞日数*/
.td1{
    width: 105px;
}
/*延滞日数内容*/
.td2{
    width: 60px;
}
/*延滞本数*/
.td3{
    width: 105px;
}
/*延滞本数内容*/
.td4{
    width: 65px;
}
/*延滞料金*/
.td5{
    width: 105px;
}
/*延滞料金内容*/
.td6{
    width: 105px;
}
/*預金*/
.td7{
    width: 53px;
}
/*預金内容*/
.td8{
    width: 105px;
}
/*おつり*/
.td9{
    width: 80px;
}
/*おつり内容*/
.td10{
    width: 90px;
}

/*延滞日数位置*/
.tb1{
    top:131px;
    right: 449px;
    position:absolute;
    table-layout: fixed;

}

/*延滞本数位置*/
.tb2{
    top:131px;
    right: 199px;
    position:absolute;
    table-layout: fixed;
}

/*延滞料金位置*/
.tb3{
    top:203px;
    right: 404px;
    position:absolute; 
    table-layout: fixed;

}

/*預金位置*/
.tb4{
    top:278px;
    right: 404px;
    position:absolute;
    table-layout: fixed;
}

/*おつり位置*/
.tb5{
    top:278px;
    right: 199px;
    position:absolute;
    table-layout: fixed;
}

.cbtn{
    width: 105px;
    font-size:30px;
     top: 350px;
     right: 410px;
    position:absolute;
    table-layout: fixed;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
}

.ebtn{
    width: 105px;
    font-size:30px;
    top: 350px;
    right: 250px;
    position:absolute;
    table-layout: fixed;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

}